{% extends "base.html" %}

{% block app_content %}

<h1>Privacy Statement</h1>

<p>
  This website (the "site", "we") serves as a technical demonstration with no economic interests and is committed to the protection of users privacy, to the extent possible. In particular, we do not re-distribute or sell personal information on our web servers.
</p>

<p>
  This policy applies to all users of the site (the "users").
</p>

<h2>Information collected</h2>

<h3>The site's servers collect the following analytics</h3>

<ul>
  <li>Internet Protocol (IP) address of the computer being used</li>
  <li>web pages requested</li>
  <li>browser used</li>
  <li>date and time</li>
</ul>

<p>
  The site does not associate this data to individual user identities.
</p>

<h3>Cookies</h3>

<p>
  The site only uses cookies that are necessary for the functionality of the site. No data is collected through cookies.
</p>

<h3>Webforms</h3>

<p>
  The site uses webforms to capture queries for use with the classification model.
</p>

<h2>Use of collected information</h2>

<ul>
  <li>
    The site uses browser-IP-address information and anonymous-browser history to report information about site accesses and for profiling purposes. This information is used to improve Web presentation and utilization. IP address information may also be used for troubleshooting purposes.
  </li>
  <li>
    User queries and associated IP address and request time may be used to improve the classification model. In this process the IP address is used to group and filter queries. The IP address is not used to associate individual user identities.
  </li>
</ul>

<h2>Storage duration of collected information</h2>

<ul>
  <li>
    Collected browser-IP-address information and anonymous-browser history are periodically deleted but there is no maximum duration of storage.
  </li>
  <li>
    User queries and associated IP address and request time for the purposes of classification model improvement are stored indefinitely.
  </li>
</ul>

<h2>Distribution of collected information</h2>

<ul>
  <li>
    The site will not disclose, without your consent, personal information collected about you, except for certain explicit circumstances in which disclosure is required by law.
  </li>
  <li>
    The site will not distribute or sell personal information to third-party organizations.
  </li>
</ul>

<h2>Privacy Statement Revisions</h2>

<p>
  This privacy statement was last revised on January 2nd, 2023. We may change this Privacy Statement at any time and for any reason. We encourage you to review this Privacy Statement each time you visit the website.
</p>

<h2>Responsibility for External Sites</h2>

<p>
  This website may contain links to other websites. Some of those websites may be operated by third parties. We provide the links for your convenience, but we do not review, control, or monitor the privacy practices of websites operated by others.
</p>

<p>
  The classification model used for this site is hosted by a third party (Hugging Face, Inc.) and used through the HuggingFace Inference API. We do not review, control, or monitor the privacy practices of websites operated by others.
</p>

<h2>How to contact us</h2>

<p>
  For privacy related questions, feel free to open an issue in the sites source-code repository at
  <a href="https://github.com/florianehmann/twitter-emotion-webapp">https://github.com/florianehmann/twitter-emotion-webapp</a>.
</p>

{% endblock %}