<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block styles %}
    <style>
      {% include 'base.css' %}
     </style>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
  {% endblock %}

  <title>
    {% if title %}
    {{ title }}
    {% else %}
    Feel the Tweet
    {% endif %}
  </title>

  {% endblock %}
</head>
<body>
  {% include 'navbar.html' %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info mb-0" role="alert" style="border-radius: 0px;">{{ message }}</div>
      {% endfor %}
    {% else %}

    {% endif %}
  {% endwith %}

  {% if submit_timeout %}
    <div id="loadingProgress" class="progress" style="height: 5px; border-radius: 0px;">
      <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  {% endif %}

  <div class="spacer"></div>

  <main>
    <div class="container">
      <div class="content">
        {% block app_content %}{% endblock %}
      </div>
    </div>
  </main>

  {% include 'footer.html' %}

  {% block scripts %}
  <script>
    {% include 'base.js' %}
  </script>
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  {% endblock %}
</body>
</html>