<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block styles %}
    <style>
      {% include 'base.css' %}
     </style>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
  {% endblock %}

  <title>
    {% if title %}
    {{ title }}
    {% else %}
    Feel the Tweet
    {% endif %}
  </title>

  {% endblock %}
</head>
<body>
  {% include 'navbar.html' %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% else %}
      <div class="spacer"></div>
    {% endif %}
  {% endwith %}

  <main>
    <div class="container">
      <div class="content">
        {% block app_content %}{% endblock %}
      </div>
    </div>
  </main>

  {% include 'footer.html' %}

  {% block scripts %}
  <script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
  </script>
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  {% endblock %}
</body>
</html>